
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@100&family=Libre+Baskerville&family=Raleway:wght@800&display=swap');


body {
    background-color: lightpink;
    font-family: 'Hubballi', cursive;

}

.title {
    text-align: center;
    font-size: 2.5em;
    color:#EA4C89;
    font-weight: bold;
    border: 1px
}

#textArea {
    width: 80%;
    height: 300px;
    padding: 12px 20px;
    margin: 15px 10% 15px 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: center;
}


button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hubballi', cursive;
    font-size: 1.2em;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 12px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
    background-color: #F082AC;
}

